/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles for all elements */
* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-light-gray {
    color: #727272;
}
.btn-primary {
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
    background-color: #ff900e;
    cursor: pointer;
    margin-top: 32px;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 30px;
}
 nav li {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
 }
  nav a {
    color: #424242;
    text-decoration: none;
  }

  /* banner styles */
  .banner-text {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 116px;
  }
  .banner-area img {
    width: 100%;
    margin-top: 50px;
  }

  /* main section styles */

  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* teams section styles */
  .teams-container {
    display: flex;
    align-items: center;
    padding: 85px 0 130px;
    gap: 70px;
  }
  .teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .teams-title {
    font-size: 2.8125rem;
    margin-bottom: 2rem;
  }
  .quick-list {
    font-weight: 500; 
  }
  .text-features {
    color: #ff900e;
    font-weight: 700;
  }

  /* Feature section styles */
  .features {
    display: flex;
  }
  .features-text .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  }
  .features-title {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
  }
  .ten-years-badge {
    width: 342px;
    color: #fff;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
  }
  .ten-years-badge h2 {
    font-size: 4rem;
  }
  /* Facts card styles */
  .facts-card-container {
    display: flex;
    justify-content: space-around;
  }
  .facts > .section-title {
    margin-bottom: 24px;
  }
  .facts > p {
    margin-bottom: 100px;
    word-wrap: break-word;
  }
.facts-card-container .card {
  border: 1px solid #ff900e;
  text-align: center;
  border-radius: 8px;
  padding: 46px 36px 60px;
}
.facts-card-container .card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
.facts-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}
.card > img {
  margin-bottom: 10px;
}

/* sponsors style */
#sponsors-area {
  text-align: center;
  padding: 130px 0;
}
#sponsors-area > h2 , .sponsors-description {
  margin-bottom: 24px;
}

/* sponsors logos */
.sponsors-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  filter: grayscale(1);
}

/* footer styles */
footer {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 8px;
  background: #FFF4E7;
}
footer > p {
  text-align: center;
  font-size: 1.25rem;
}

  /* responsive media query styles */
  @media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
        gap: 10px;
    }
    .banner-title {
        margin-top: 30px;
    }
    /* teams style */
    .teams-container, .facts-card-container {
        flex-direction: column;
        gap: 3rem;
    }
    .teams-text-container {
      padding: 20px;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    /* facts */
    .facts-card-container {
      gap: 20px;
    }
     /* sponsors logo */
     .sponsors-logos {
      flex-direction: column;
      gap: 30px;
    }
    /* footer styles */
    footer {
      width: 100%;
    }

  }

  /* tablet or medium devices */
  @media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
        gap: 1rem;
    }
    .banner-title {
        margin-top: 50px;
    }
    /* teams style */
    .teams-container {
        flex-direction: column;
        gap: 3rem;
    }
    .teams-text-container {
      padding: 20px;
    }
    /* sponsors logo */
    .sponsors-logos {
      flex-direction: column;
      gap: 30px;
    }
    /* footer styles */
    footer {
      width: 100%;
    }

  }